body {
  background-color: rgb(255, 255, 255);
  font: 400 16px/1.38 Georgia;
  color: rgb(0, 0, 0);
}

.post-author {
  clear: both;
  width: 634px;
  padding-bottom: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(128, 128, 128);
}

nav a {
  display: block;
  float: left;
  width: 22.5908372827%;
  padding: 19px;
  font-family: 'Droid Sans';
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

article {
  position: absolute;
  top: 276px;
  left: 0;
  right: 0;
  z-index: 5;
  width: 66.0416666666%;
  margin: 0 auto;
}

article section {
  display: inline-block;
  padding-top: 12px;
  border-radius: 3px;
  font-weight: 400;
  line-height: 1.8em;
  color: rgb(0, 0, 0);
}

.post p {
  margin: 12px 0;
}

.post blockquote {
  margin: 12px 40px;
  color: gray;
}

div h1 {
  padding-bottom: 10px;
  font-size: 32px;
  color: rgb(0,0,0);
}

div p {
  float: left;
}

h1 {
  width: 100%;
  line-height: 1.38;
}

header {
  width: 100%;
  margin: 0 auto;
  background: url('/img/typewriter-background.jpeg') rgb(0, 0, 0);
  background-size: cover;
  background-position: center center;
}

header h1 {
  margin: 75px auto 0;
  padding-bottom: 20px;
  font: 64px 'Droid Sans';
  text-align: center;
  color: rgb(255, 255, 255);
}

nav {
  width: 633px;
  height: 60px;
  margin: 0 auto;
  border-top: 1px solid rgb(204, 204, 204);
}

section {
  float: left;
  clear: both;
}

span {
  display: inline-block;
  height: 22px;
  padding-bottom: 10px;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0,0,0);
}

.current {
  margin-top: -3px;
  border-top: 3px solid rgb(255, 255, 255);
}

.navigation {
  width: 15%;
  margin-top: 50px;
  padding-bottom: 1px;
}

.newer {
  float: right;
}

.older {
  float: left;
  margin-left: 6px;
}

.title {
  width: 100%;
  margin: 0 auto;
}

@media(max-width: 410px) {
  article {
    top: 190px;
    left: 0;
    right: 0;
    width: 87.0731707317%;
    margin-right: auto;
    margin-left: auto;
  }

  header h1 {
    margin-top: 25px;
    font-size: 34px;
  }

  header nav {
    width: 100%;
  }

  nav a {
    width: 50%;
  }

  .navigation {
    width: 85.1219512195%;
    margin-top: 10px;
    margin-left: 27px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.67);
  }
}

footer {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 27px;
  border-top: 1px solid rgba(128, 128, 128, 0.39);
  border-radius: 3px;
  font-style: italic;
  font-size: 14px;
  line-height: 1.38;
  text-align: right;
  color: rgb(179, 179, 179);
}
